[submodule "HazelGameEngine/3rdParty/spdlog"]
	path = HazelGameEngine/3rdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelGameEngine\\3rdParty\\GLFW"]
	path = HazelGameEngine\\3rdParty\\GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazelGameEngine/3rdParty/imgui"]
	path = HazelGameEngine/3rdParty/imgui
	url = https://github.com/TheCherno/imgui
[submodule "HazelGameEngine\\3rdParty\\glm"]
	path = HazelGameEngine\\3rdParty\\glm
	url = https://github.com/g-truc/glm
